<app-navbar></app-navbar>
<section class="banner-innerpage"
  style="background-image: url(https://images.pexels.com/photos/1005638/pexels-photo-1005638.jpeg?cs=srgb&dl=pexels-oleg-magni-1005638.jpg&fm=jpg);">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 align-self-center text-center" data-aos="fade-down" data-aos-duration="1200">
        <h1 class=" title">Shop Listing</h1>
        <h6 class="subtitle op-8">
          We are small team of creative people working togethor
        </h6>
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>